.App {
  max-width: 900px;
  min-height: 100vh;
  margin: 0;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  flex: 5;
  text-align: center;
  min-height: 100px;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 5;
  text-align: center;
  min-height: 100px;
  padding-bottom: 20px;
}

.bottom-scroll {
  width: 100%;
  height: 700px;
  overflow-y: scroll;
}

/* home page container */

#home-page {
  display: flex;
  flex: 2;
}
#home-page > .left-home-page {
  flex: 1;
} 
#home-page > .right-home-page {
  flex: 0 0 20vw;
  background: beige;
}


/* loading container */
.loading-container {
  text-align: center;
  justify-content: center;
  margin: auto;
}

/* navbar */
.navbar {
  text-align: left;
}

/* discussions container*/
.discussion-container {
  border: 4px solid #1C6EA4;
  border-radius: 10px 10px 10px 10px;
  padding-bottom: 20px;
}

/* soccer table */

table.soccer-table {
  width: 100%;
  background-color: #E6E6E6;
  border-collapse: separate;
  border-width: 2px;
  border-color: #F8A4A4;
  border-style: solid;
  color: #000000;
}

table.csoccer-table td, table.soccer-table th {
  border-width: 2px;
  border-color: #F8A4A4;
  border-style: solid;
  padding: 5px;
}

table.soccer-table thead {
  background-color: #ABF8F8;
}