.App {
  max-width: 900px;
  min-height: 100vh;
  margin: 0;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  flex: 5;
  text-align: center;
  min-height: 100px;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 5;
  text-align: center;
  min-height: 100px;
  padding-bottom: 20px;
}

/* home page container */

#home-page {
  display: flex;
  flex: 2;
}
#home-page > .left-home-page {
  flex: 1;
} 
#home-page > .right-home-page {
  flex: 0 0 20vw;
  background: beige;
}


 /* home page container */
 /*
 
.home-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: .5rem;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  text-align: center;
  grid-auto-flow: column;
  grid-auto-columns: minmax(260px, 1fr);
}

.home-page-left-container {
  display: flex;
  min-height: 60vh;
  padding: 10px;
  min-width: 80%;
}
.home-page-right-container {
  padding: 10px;
  background: beige;
  min-width: 20%;
}
*/
/* navbar */
.navbar {
  text-align: left;
}

/* discussions container*/
.discussion-container {
  border: 4px solid #1C6EA4;
  border-radius: 10px 10px 10px 10px;
  padding-bottom: 20px;
}