.App {
  max-width: 900px;
  min-height: 100vh;
  margin: 0;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  flex: 5;
  text-align: center;
  min-height: 100px;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 5;
  text-align: center;
  min-height: 100px;
  padding-bottom: 20px;
}

.bottom-scroll {
  width: 100%;
  height: 700px;
  overflow-y: scroll;
}

/* home page container */

.home-page-navbar {
  display: flex;
}

#home-page {
  display: flex;
  flex: 2;
}
#home-page > .left-home-page {
  flex: 1;
} 
#home-page > .right-home-page {
  flex: 0 0 20vw;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(213, 242, 255, 0.897);
}


/* loading container */
.loading-container {
  text-align: center;
  justify-content: center;
  margin: auto;
}

/* navbar */
.navbar {
  text-align: left;
  padding: 5px;
  padding-top: 20px;
}

/* discussions container*/
.discussion-container {
  border: 2px solid #1C6EA4;
  background-color: rgba(213, 242, 255, 0.897);
  padding-bottom: 10px;
  margin-top: 5px;
}

/* create discussions container */
.create-discussions-container {
  margin-top: 5px;
  padding: 20px;
  background-color: rgba(213, 242, 255, 0.897);
}

.create-discussions-container-div-space {
  padding-top: 15px;
}

/* login in container */
.login-container {
  border-bottom: 2px solid;
  border-bottom-color: #1C6EA4;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
}

/* signup container */
.signup-container {
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

/* Profile */
.profile-container {
  border-bottom: 2px solid;
  border-bottom-color: #1C6EA4;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
}

/* edit profile container */
.edit-profile-container {
  margin-top: 5px;
  padding: 20px;
  background-color: rgba(213, 242, 255, 0.897);
}
.edit-profile-container-div {
  padding-top: 15px;
}

/* edit password */
.edit-password-container {
  margin-top: 5px;
  padding: 20px;
  background-color: rgba(213, 242, 255, 0.897);
}

/* soccer table */

.team-logo-table {
  width: 50px;
  height: 50px;
}

.soccer-table-div {
  
}

table.soccer-table {
  width: 100%;
  background-color: #E6E6E6;
  border-collapse: separate;
  color: #000000;
}

table.soccer-table th {
  border-width: 2px;
  border-color: #F8A4A4;
  border-style: solid;
  padding: 5px;
}

table.soccer-table thead {
  background-color: #ABF8F8;
  border-color: #F8A4A4;
  border-style: solid;
}